# Data Collection

In [1]:
import pandas as pd

In [2]:
# Reading the file using pandas
data=pd.read_excel("StoresData.xlsx")
# Display the first 5 rows of data
print (data.head())

   Store No.  Sales $m  Wages $m  No. Staff Location  Loc'n (Num) State  \
0          1      12.5       2.3         60     Mall            2   NSW
1          2      14.5       2.7         69     Mall            2   Vic
2          3      19.0       3.1         79  Country            3   Vic
3          4      18.2       2.6         66     Mall            2   Qld
4          5       7.6       2.0         51    Strip            1   Qld

   State (Num)  Age (Yrs)  GrossProfit  ...  Mng-Sex (Num)  Mng-Age  Mng-Exp  \
0            1         10        0.712  ...              0       33       12
1            2          8        0.091  ...              0       33       16
2            2          7        1.075  ...              0       30        9
3            3          7        1.372  ...              0       29        9
4            3         15        2.148  ...              0       36        4

  Mng-Train  Union% Car Spaces  HomeDel  HomeDel (Num)  Basket:2013  \
0         2      38         46   Del:No              0          171
1         1      38         73   Del:No              0          168
2         2      39         64   Del:No              0          180
3         2      38         66  Del:Yes              1          173
4         3      40         29   Del:No              0          166

   Basket:2014
0          178
1          178
2          188
3          180
4          171

[5 rows x 26 columns]

In [3]:
# Check columns
print(data.columns)

Index(['Store No.', 'Sales $m', 'Wages $m', 'No. Staff', 'Location',
       'Loc'n (Num)', 'State', 'State (Num)', 'Age (Yrs)', 'GrossProfit',
       'Adv.$'000', 'Competitors', 'HrsTrading', 'Sundays', 'Sundays (Num)',
       'Mng-Sex', 'Mng-Sex (Num)', 'Mng-Age', 'Mng-Exp', 'Mng-Train', 'Union%',
       'Car Spaces', 'HomeDel', 'HomeDel (Num)', 'Basket:2013', 'Basket:2014'],
      dtype='object')